<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% seo %}
{% feed_meta %}
  {% comment %} <link rel="icon" href="/favicon.ico" sizes="any"> {% endcomment %}
  {% comment %} <link rel="icon" href="/icon.svg" type="image/svg+xml"> {% endcomment %}
  {% comment %} <link rel="apple-touch-icon" href="icon.png"> {% endcomment %}
  {% comment %} <link rel="manifest" href="site.webmanifest"> {% endcomment %}
  {% comment %} <meta name="theme-color" content="#fafafa"> {% endcomment %}
  {% include origin.html %}
  <link
    rel="preconnect"
    href="{{ site.url | append: site.baseurl |  append: '/assets' | absolute_url }}"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=1.0' | relative_url }}">
  <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
</head>