@use "sass:map";
@use "../variables" as var;

@mixin css-vars($map, $key, $prefix: "--") {
  @if map.get($map, $key) {
    @each $key, $value in map.get($map, $key) {
      #{$prefix}#{$key}: #{$value};
    }
  } @else {
    @error "Error map.get($map, $key)";
  }
}

@mixin color-scheme($mode, $rgb: false) {
  @if map.get(var.$color-schemes, $mode) {
    @if $mode == "light" {
      color-scheme: $mode;
    } @else if $mode == "dark" {
      color-scheme: $mode;
    }

    @each $k, $v in map.get(var.$color-schemes, $mode) {
      --color-#{$k}: #{$v};
    }
  }
}

@mixin media-query($breakpoint: "md", $viewport: "max") {
  $media: "screen";

  @if $breakpoint == "sm" {
    $media: "(#{$viewport}-width: 576px)";
  } @else if $breakpoint == "md" {
    $media: "(#{$viewport}-width: 768px)";
  } @else if $breakpoint == "lg" {
    $media: "(#{$viewport}-width: 1024px)";
  } @else if $breakpoint == "minmax" {
    $media: "(min-width: 769px) and (max-width: 1023px)";
  }

  @media #{$media} {
    @content;
  }
}
