---
layout: base
---
{% assign site_posts = paginator.posts | default: site.posts %}
{% assign featured = site_posts | where: 'featured', true %}
{% assign date_format = site.date_format | default: '%b %d, %Y' %}
<section class="grid-breakout blog">
  <div class="feature">
    <div class="card">
      {% for post in site_posts %}
        <article class="card-item{% if post.featured %} card-span{% endif %}">
          <figure class="card-thumb">
            {% if post.image %}{% include image.html data=post class='card-image' %}{% endif %}
          </figure>
          <section class="card-block">
            <h2 class="card-title">
              {%- if post.featured -%}
                {{- post.title -}}
              {%- else -%}
                <a href="{{ post.url | relative_url }}">{{- post.title -}}</a>
              {%- endif -%}
            </h2>
            <p class="card-excerpt">{% include summary.html data=post excerpt=true short=true %}</p>
            {% if post.featured %}
              <a href="{{ post.url | relative_url }}" class="read-more">Read More</a>
            {% endif %}
          </section>
        </article>
      {% endfor %}
    </div>
  </div>
</section>
