---
layout: base
---
{% assign page_summary = page.summary | default: page.description %}

<article class="grid-breakout article page">
  {% if page.title %}
    <header class="fluid grid-breakout pad-b header">
      <div class="feature banner">
        <h1 class="heading">{{ page.title }}</h1>
        {% if page_summary %}
          <p class="summary">{{- page_summary -}}</p>
        {% endif %}
      </div>
    </header>
  {% endif %}
  <section class="content article-body">
    {{ content }}
  </section>
</article>
