---
layout: base
---
{%- assign date_format = site.date_format | default: '%b %d, %Y' -%}
{%- assign page_modified = page.date_modified | default: modified_at | default: page.last_modified_at -%}
{%- assign read_time = page.content | number_of_words | divided_by: 180 -%}
{%- assign page_tags = page.tag | default: page.tags -%}
{%- assign page_categories = page.category | default: page.categories -%}
{%- assign page_repo = site.repository.repo -%}
{%- assign page_branch = site.repository.branch -%}

<article
  class="grid-breakout article post"
  itemscope
  itemtype="https://schema.org/BlogPosting"
  itemid="{{ page.url | absolute_url }}"
>
  <header class="fluid grid-breakout pad-b header">
    <div class="popout banner">
      <meta itemprop="keywords" content="{{ page_tags | join: ', ' }}, {{ page_categories | join: ', ' }}">
      <div class="datetime">
        <time class="date" itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
          {{- page.date | date: date_format -}}
        </time>
        {%- if page_modified -%}
          <span class="dot">·</span>
          <time class="date" itemprop="dateModified" datetime="{{ page_modified | date_to_xmlschema }}">
            {{- page_modified | date: date_format -}}
          </time>
        {%- endif -%}
        {%- if read_time > 0 -%}
          <span class="dot">·</span>
          <span itemprop="timeRequired" content="PT{{ read_time }}M" class="read-time">
            {{- read_time | append: ' min read' -}}
          </span>
        {%- endif -%}
      </div>
      <div class="metadata">
        <h1 class="heading" itemprop="headline">{{ page.title }}</h1>
        {%- if page.summary or page.description -%}
          <p class="summary" itemprop="description">{{- page.summary | default: page.description -}}</p>
        {%- endif -%}
      </div>
      {%- if page.author -%}
        {%- for author in page.author -%}
          {%- assign data_author = site.data.authors[author] -%}
          {%- if data_author -%}
            {%- if forloop.first -%}
              {{- '<div class="authors">' -}}
            {%- endif -%}
            <span class="author-name" itemprop="author" itemscope itemtype="https://schema.org/Person">
              {%- if data_author.name and data_author.url -%}
                <a itemprop="url" href="{{ data_author.url | relative_url }}">
                  <span itemprop="name">{{ data_author.name }}</span>
                  {%- unless forloop.last -%}{{- ', ' -}}{%- endunless -%}
                </a>
              {%- elsif author and data_author.url -%}
                <a itemprop="url" href="{{ data_author.url | relative_url }}">
                  <span itemprop="name">{{ author | capitalize }}</span>
                  {%- unless forloop.last -%}{{- ', ' -}}{%- endunless -%}
                </a>
              {%- else -%}
                <span itemprop="name">{{ author | capitalize }}</span>
                {%- unless forloop.last -%}{{- ', ' -}}{%- endunless -%}
              {%- endif -%}
            </span>
            {%- if forloop.last -%}
              {%- if page_repo and page_branch -%}
                <a
                  class="edit-page"
                  href="https://github.com/{{- page_repo -}}/edit/{{- page_branch -}}/{{- page.path -}}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Edit this page</a
                >
              {%- endif -%}
              {{- '</div>' -}}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    </div>
  </header>
  {%- if page.image -%}
    <figure
      class="fluid grid-breakout"
      itemprop="associatedMedia"
      itemscope
      itemtype="https://schema.org/ImageObject"
    >
      {%- include image.html data=page class='popout' -%}
    </figure>
  {%- endif -%}
  <section class="fluid grid-breakout article-body" itemprop="articleBody">
    {{ content }}
  </section>
  {%- include social-share.html -%}
  {%- include pagination.html -%}
  {%- include comments.html -%}
</article>
